.title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.symbol {
    margin-left: 1rem;
    font-weight: 500;
    font-size: 14px;
    color: #afafaf;
}

.titleWrap {
    display: flex;
    align-items: center;
}

.number {
    font-size: 14px;
    font-weight: bold;
}