.title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media (max-width: 780px) {
    tbody td:nth-child(2) {
        position: sticky;
        left: 24px;
        z-index: 100;
    }
}

.symbol {
    margin-left: 0.6rem;
    font-weight: 500;
    font-size: 14px;
    color: #afafaf;
}

.titleWrap {
    display: flex;
    align-items: center;
}

.number {
    font-size: 14px;
    font-weight: bold;
}