.wrap {
    display: flex;
    justify-content: center;
}

table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem 1rem;
}

tr {
    border-bottom: 1px solid #eaeaea;
}

tbody tr:hover{
    background: #f8fdfd;
    cursor: pointer;
}

.theadStyle {
    height: 3rem;
    font-size: 12px;
}
thead th:nth-child(1) {
    width: 7%;
    text-align: right;
}

thead th:nth-child(1), th:nth-child(2) {
    text-align: left;
}

thead th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6),
tbody td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: right;
}

